* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    flex-basis: 80%;
    /* min-width: 400px; */
    /* max-width: 1000px; */
    height: 80vh;
    min-height: 600px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;

    border: 1px solid black;
}

#header {
    flex-basis: 80%;
    height: 20%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;

    border: 1px solid black;
}

h1 {
    flex-basis: 100%;
    margin: 10px 0;
}

#pizzaName {
    flex-basis: 60%;
}

#pizzaAdd {
    flex-basis: 30%;

}

input {

}


output {
    height: 50%;
    flex-basis: 80%;
    border: 1px solid black;
}

#order-container {
    flex-basis: 80%;
    height: 10%;
    border: 1px solid black;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#order-container > * {
    margin: 10px 20px;
}

